# Ignore all without extensions(Binary Files)
*
!*.*
# Unignore all dirs
!*/
!Makefile

.DS_Store
*.sublime-project
*.sublime-workspace
.vscode/
*.test
*.dSYM
*.swp
*.tmp

# Executables
*.exe
*.out
*.app
